// font styles
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Kaushan Script", sans-serif;
$font-tertiary: "Roboto", sans-serif;

// font sizes
$font-small: 14px;
$font-normal: 15px;
$font-moderate: 28px;
$font-medium: 30px;
$font-great: 32px;
$font-big: 35px;
$font-substantial: 40px;
$font-large: 45px;
$font-huge: 50px;
$font-enormous: 60px;
$font-extensive: 65px;
$font-colossal: 72px;
$font-gigantic: 98px;
$font-biggest: 150px;

// font weights
$font-thin: 100;
$font-regular: 400;
$font-medium-bold: 500;
$font-bold: 700;
